{% extends 'base.html' %}
{% block title %}
    Category
{% endblock %}
{% block content %}
    <a href="{% url 'category_create' %}" class="btn btn-primary"> 
        Create Category 
    </a>
    <ul>
        {% for category in object_list %}
            <li>
                <a href="{% url 'category_detail' category.id %}">
                    {{ category.name }}
                </a>
            
                <a 
                        href="{% url 'category_update' category.id%}"
                        class="btn btn-secondary"
                >
                    Update
                </a>
            
                <a 
                        href="{% url 'category_delete' category.id%}"
                        class="btn btn-danger"
                >
                    Delete
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}