{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1>This is my home page</h1>
<p>This is my home page contents</p>
<form method="post"
      action="{% url 'index' %}">
    {% csrf_token %}
    Title: <input name="title">
    Content: <textarea name="content"></textarea>
    Auther: <input name="auther_id" type="number">
    <input type="submit" value="Create">
</form>
<h2>Posts</h2>
{% for post in posts %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
{% endfor %}
<a href="{% url 'category_list' %}">Category</a>
{% endblock%}