{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>This is my home page</h1>
    <p>This is my home page contents</p>
    {% if user.is_authenticated %}
        <form method="post"
              action="{% url 'index' %}">
            {% csrf_token %}
            Title: <input name="title">
            Content: <textarea name="content"></textarea>
            <input name="auther_id" type="hidden" value="{{ user.id }}">
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    {% endif %}
    <h2>Posts</h2>
    <li>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.id %}">
                    {{ post.title }}
                </a>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a href="{% url 'post_delete' post.id %}"
                           class="btn btn-danger">
                            Delete
                        </a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'category_list' %}">Category</a>
{% endblock %}